.export
  = link_to 'Importar CSV', export_users_path, remote: true, class: 'btn btn-primary btn-lg'
  .well{style: 'display:none'}
    .row
      .col-xs-12
        .progress-status.text-primary
    .row
      .col-xs-12
        .progress.progress-striped.active
          .progress-bar
            .text-primary
              0%